    /* Define CSS styles */
    body {
        height: 100vh;
          background-image: url("https://buffet.tekhmos.com/void.jpg");

    }

    h1{
      text-align: center;
      font-size: 200;
      
    }



    footer {
      margin-top: auto;
      background-color: limegreen;
    }


    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-image: url('void.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }